.slidebar{
    bottom: 0;
    position: fixed;
    /* backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
    overflow: auto;
}

.slidebar::-webkit-scrollbar{
    width: 0;
}


.slidebar li {
    width: 200%;
    list-style-type: none;
   
}
.slidebar a {
    width: 100%;
    padding: 20px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    
}

.sliderbar nav a:hover{
    background-color: #973d3d;
}

.slidebar p {
    padding:  8px 8px;
    font-size: 32px;
    background-color: #285829;
    border-radius: 6px;
    color: white;
}

.slidebar h3{
    color: #285829;
    padding-left: 8px;
}